In [14]:
import pydeseq2,os
import pandas as pd

In [49]:
count_path = '/home/luotao/c_elegans/RNA-seq/SRA_yy/count_out/'
count_list = os.listdir(count_path)

count_list.sort()

count_df = pd.read_table(count_path+sm,skipfooter=5)

matrix = pd.DataFrame()
for sm in count_list:
    count_df = pd.read_table(count_path+sm,skipfooter=5)
    count_df.columns = ['gene_id',sm.replace('.count','')]
    if matrix.empty:
        matrix = count_df
    else:
        matrix = pd.merge(matrix, count_df , on='gene_id')
matrix

/tmp/ipykernel_11795/805185531.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  count_df = pd.read_table(count_path+sm,skipfooter=5)
/tmp/ipykernel_11795/805185531.py:10: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  count_df = pd.read_table(count_path+sm,skipfooter=5)
/tmp/ipykernel_11795/805185531.py:10: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  count_df = pd.read_table(count_path+sm,skipfooter=5)
/tmp/ipykernel_11795/805185531.py:10: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  count_df = pd.read_table(count_path+sm,skipfooter=5)
/tmp/ipykernel_11795/805185531.py:10: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  count_df = pd.read_table(count_path+sm,skipfooter=5)
/tmp/ipykernel_11795/805185531.py:10: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  count_df = pd.read_table(count_path+sm,skipfooter=5)
/tmp/ipykernel_11795/805185531.py:10: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  count_df = pd.read_table(count_path+sm,skipfooter=5)
/tmp/ipykernel_11795/805185531.py:10: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  count_df = pd.read_table(count_path+sm,skipfooter=5)
/tmp/ipykernel_11795/805185531.py:10: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  count_df = pd.read_table(count_path+sm,skipfooter=5)
/tmp/ipykernel_11795/805185531.py:10: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  count_df = pd.read_table(count_path+sm,skipfooter=5)

,gene_id,WT1,WT2,WT3,sma_2_rax5__1,sma_2_rax5__2,sma_2_rax5__3,sma_4_rax3__1,sma_4_rax3__2,sma_4_rax3__3
0,CELE_2L52.2,0,0,0,0,0,0,0,0,0
1,CELE_2RSSE.1,0,0,0,0,0,0,0,0,0
2,CELE_2RSSE.3,0,0,0,0,0,0,0,0,0
3,CELE_2RSSE.4,0,0,0,0,0,0,0,0,0
4,CELE_2RSSE.5,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
46922,KEF34_t18,0,0,0,0,0,0,0,0,0
46923,KEF34_t19,0,0,0,0,0,0,0,0,0
46924,KEF34_t20,0,0,0,0,0,0,0,0,0
46925,KEF34_t21,0,0,0,0,0,0,0,0,0
46926,KEF34_t22,0,0,0,0,0,0,0,0,0

In [147]:
from pydeseq2.dds import DeseqDataSet
from pydeseq2.ds import DeseqStats

df_T = matrix.transpose()

col_slice = matrix.iloc[:,1:]
row_sum = col_slice.sum(axis=1)

# 使用布尔索引选择行总和大于等于 10 的行
new_df = matrix[row_sum >= 10]

#转置
new_df = new_df.transpose()

# 设置行名
new_df.columns = list(new_df.iloc[0])
# 取前6个样品数据，删除第一行
new_df = new_df.iloc[1:]

new_df

,CELE_AC3.16,CELE_AH6.5,CELE_AH9.1,CELE_AH9.7,CELE_B0001.1,CELE_B0001.10,CELE_B0001.12,CELE_B0001.4,CELE_B0019.4,CELE_B0024.10,...,CELE_ZK970.6,CELE_ZK973.1,CELE_ZK973.2,CELE_ZK973.3,CELE_ZK973.6,CELE_ZK973.9,KEF34_p04,KEF34_p05,KEF34_p06,KEF34_p07
WT1,0,0,1,0,3,0,0,3,13,3,...,0,0,5,1,0,8,0,0,0,0
WT2,1,5,0,4,2,1,1,4,43,12,...,0,0,4,6,0,14,1,0,4,4
WT3,0,0,3,10,9,2,0,4,129,16,...,0,0,4,9,1,30,2,2,4,0
sma_2_rax5__1,8,0,7,2,7,1,0,6,93,24,...,7,3,0,6,2,25,5,2,8,2
sma_2_rax5__2,7,0,4,4,5,7,1,6,109,29,...,3,0,6,7,2,28,4,2,6,7
sma_2_rax5__3,1,0,2,2,2,3,1,3,45,18,...,5,0,0,3,4,13,4,0,0,4
sma_4_rax3__1,13,3,9,4,4,5,1,15,69,23,...,19,6,4,1,6,21,4,6,4,1
sma_4_rax3__2,10,2,7,3,5,2,0,8,41,25,...,15,4,0,4,2,17,8,6,8,2
sma_4_rax3__3,19,0,1,2,2,0,8,12,86,28,...,12,2,2,8,6,8,4,0,8,0

In [152]:



condition_df = pd.DataFrame({'condition': ['A', 'A', 'A','C','C','C','B','B','B']})

condition_df.index = new_df.index
condition_df

              condition
WT1                   A
WT2                   A
WT3                   A
sma_2_rax5__1         C
sma_2_rax5__2         C
sma_2_rax5__3         C
sma_4_rax3__1         B
sma_4_rax3__2         B
sma_4_rax3__3         B

In [153]:
dds = DeseqDataSet(counts = new_df, clinical=condition_df, design_factors="condition")

In [154]:
dds.deseq2()

Fitting size factors...
... done in 0.00 seconds.

Fitting dispersions...
... done in 0.95 seconds.

Fitting dispersion trend curve...
... done in 1.77 seconds.

Fitting MAP dispersions...
... done in 0.84 seconds.

Fitting LFCs...
... done in 0.84 seconds.

Refitting 0 outliers.

In [168]:
stat_res = DeseqStats(dds, n_cpus=8)

df_summary = stat_res.summary()

Running Wald tests...
... done in 0.35 seconds.

Log2 fold change & Wald test p-value: condition B vs A

,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
CELE_AC3.16,4.788412,4.248459,1.509040,2.815339,0.004873,0.036647
CELE_AH6.5,1.159116,-0.934014,2.344650,-0.398360,0.690365,NaN
CELE_AH9.1,3.125994,1.386539,1.298587,1.067730,0.285642,NaN
CELE_AH9.7,2.808691,-1.119380,1.131301,-0.989462,0.322437,NaN
CELE_B0001.1,4.250173,-1.108252,0.971682,-1.140549,0.254058,0.502114
...,...,...,...,...,...,...
CELE_ZK973.9,16.978816,-0.942508,0.514003,-1.833663,0.066704,0.213534
KEF34_p04,2.905320,1.801876,1.308748,1.376794,0.168576,NaN
KEF34_p05,1.474707,2.041017,1.999763,1.020629,0.307430,NaN
KEF34_p06,3.665932,0.702958,1.139233,0.617045,0.537205,NaN
KEF34_p07,2.074559,-1.298135,1.733189,-0.748987,0.453865,NaN

Running Wald tests...
... done in 0.35 seconds.

Log2 fold change & Wald test p-value: condition B vs A

,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
CELE_AC3.16,4.788412,4.248459,1.509040,2.815339,0.004873,0.036647
CELE_AH6.5,1.159116,-0.934014,2.344650,-0.398360,0.690365,NaN
CELE_AH9.1,3.125994,1.386539,1.298587,1.067730,0.285642,NaN
CELE_AH9.7,2.808691,-1.119380,1.131301,-0.989462,0.322437,NaN
CELE_B0001.1,4.250173,-1.108252,0.971682,-1.140549,0.254058,0.502114
...,...,...,...,...,...,...
CELE_ZK973.9,16.978816,-0.942508,0.514003,-1.833663,0.066704,0.213534
KEF34_p04,2.905320,1.801876,1.308748,1.376794,0.168576,NaN
KEF34_p05,1.474707,2.041017,1.999763,1.020629,0.307430,NaN
KEF34_p06,3.665932,0.702958,1.139233,0.617045,0.537205,NaN
KEF34_p07,2.074559,-1.298135,1.733189,-0.748987,0.453865,NaN